---

---



<div class="relative pt-1">
  <div class="overflow-hidden text-center w-1/2 h-2 mx-auto mb-4 text-xs flex rounded bg-gray-200">
    <div style="width: 50%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500">Merhaba</div>
  </div>
</div>